@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

:root {
  --bg-main: oklch(98.7% 0.026 102.212);
}

body {
  font-family: "Inter", sans-serif;
  background: var(--bg-main);
  scroll-behavior: smooth;
}

.section {
  @apply w-full min-h-screen container
}

.header {
  @apply container w-full p-1 pb-10 bg-transparent
}

.desktop-navbar {
  @apply flex-col items-center gap-5 text-xl max-sm:hidden overflow-hidden
}

.mobile-navbar {
  @apply md:hidden flex justify-between items-center p-5 overflow-hidden bg-transparent
}

.navbar-links {
  @apply flex justify-center items-center gap-3
}

.mobile-navbar-links {
  @apply py-4 px-5 border-b border-neutral-600
}

.links {
  @apply font-light uppercase text-sm hover:text-slate-500 transition-all ease-in-out duration-250 cursor-pointer
}

.navbar-icons {
  @apply hover:text-slate-500 transition-colors ease-in-out duration-200 text-base
}

.notification {
  @apply flex relative w-full justify-between items-center font-light uppercase text-sm max-sm:text-[0.55rem] bg-neutral-800 text-neutral-100 p-1
}

strong {
  @apply font-semibold text-neutral-500
}

.login-desktop-container {
  @apply flex flex-col items-center bg-neutral-100 text-neutral-800 w-[40%] h-[90%] rounded-3xl shadow-2xl max-sm:hidden
}

.logo {
  @apply font-black text-3xl uppercase
}

.login-desktop-logo {
  @apply w-full m-3 p-3 px-10 flex flex-row justify-between items-center
}

.login-logo {
  @apply font-black text-5xl uppercase
}

.mobile-login-container {
  @apply md:hidden flex flex-col items-center rounded-3xl bg-neutral-100 w-full h-[75%] shadow-2xl
}

.mobile-logo-container {
  @apply w-full m-[0.5px] p-4 px-10 flex flex-row justify-between items-center
}

.mobile-socials-container {
  @apply flex flex-row items-center gap-2 py-4 w-[60%]
}

.mobile-auth-socials {
  @apply hover:shadow-xl flex items-center p-3 px-5 border border-neutral-800 rounded-2xl text-lg cursor-pointer hover:bg-neutral-800 hover:border-neutral-200 transition-colors ease-in-out duration-200
}

.mobile-logo {
  @apply font-black text-2xl uppercase
}

.mobile-login-input {
  @apply w-[70%] h-10 rounded-2xl border border-neutral-500 shadow-2xl px-3 text-neutral-900 focus:outline-neutral-950
}

.login-input {
  @apply w-[70%] h-12 rounded-2xl border border-neutral-500 shadow-2xl px-3 text-neutral-900 focus:outline-neutral-950
}

.login-auth-socials {
  @apply hover:shadow-xl flex items-center p-5 px-10 border border-neutral-800 rounded-2xl text-xl cursor-pointer hover:bg-neutral-800 hover:border-neutral-200 transition-colors ease-in-out duration-200
}

.hero-desktop-container {
  @apply inline-flex flex-row justify-evenly items-center max-sm:hidden
}

.hero-desktop-showcase-container {
  @apply w-1/2 h-full px-6 flex items-center max-sm:w-full
}

.hero-shocase-product-1 {
  @apply w-full min-h-screen bg-cover bg-center flex items-center
}

.hero-img {
  @apply object-cover w-full h-full rounded-xl
}

.hero-text-container {
  @apply max-w-md flex flex-col p-8 text-center gap-2
}

.about-text-container {
  @apply w-1/2 flex flex-col p-8 text-center gap-2
}

.about-logo-container {
  @apply w-1/2 h-full px-6 flex items-center 
}

.hero-title {
  @apply text-xl font-light uppercase
}

.hero-subtitle {
  @apply text-5xl font-bold mb-4 uppercase
}

.hero-btn-container {
  @apply flex flex-row justify-evenly items-center gap-4
}

.hero-btn-1 {
  @apply p-4 bg-neutral-800 text-neutral-100 font-light rounded-xl hover:shadow-xl hover:bg-neutral-100 hover:text-neutral-950 ease-in-out duration-200 cursor-pointer
}
.hero-btn-2 {
  @apply p-4 text-neutral-800 font-light rounded-xl hover:shadow-xl hover:bg-neutral-100 hover:text-neutral-950 hover:border-neutral-800 ease-in-out duration-200 cursor-pointer
}

.footer-links {
  @apply hover:text-neutral-600 transition-all duration-200
}

/* Scrollbar */
body::-webkit-scrollbar {
	width: 5px;
	border-radius: 10rem;
	background-color: transparent;
  }
  
  body::-webkit-scrollbar-track {
	background-color: transparent;
  }
  
  body::-webkit-scrollbar-thumb {
	background-color: #0B0B0B ;
	outline: 1px solid transparent;
	border-radius: 20rem;
  }
